{% extends 'base.html' %} {% load static %} {% block body %}

<!-- Gallery Area start -->
         <div class="image-gallery">
            <div class="image-gallery__col image-gallery__one wow animate__fadeInUp" data-wow-delay="0.25s">
                <img src="{% static 'assets/img/gallery/gallery-img-2-1.jpg' %}" alt="image gallery">
              <a href="assets/img/gallery/gallery-img-2-1.jpg" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>

            <div class="image-gallery__col image-gallery__two wow animate__fadeInUp" data-wow-delay="0.45s">
                <img src="{% static 'assets/img/gallery/gallery-img-2-3.jpg' %}" alt="image gallery">
              <a href="assets/img/gallery/gallery-img-2-3.jpg" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>
            <div class="image-gallery__col image-gallery__three wow animate__fadeInUp" data-wow-delay="0.65s">
                <img src="{% static 'assets/img/gallery/gallery-img-2-4.jpg' %}" alt="image gallery">
              <a href="assets/img/gallery/gallery-img-2-4.jpg" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>
            <div class="image-gallery__col image-gallery__four wow animate__fadeInUp" data-wow-delay="0.85s">
                <img src="{% static 'assets/img/gallery/gallery-img-2-5.jpg' %}" alt="image gallery">
              <a href="assets/img/gallery/gallery-img-2-5.jpg" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>
            <div class="image-gallery__col image-gallery__five wow animate__fadeInUp" data-wow-delay="0.25s">
                <img src="{% static 'assets/img/gallery/gallery-img-2-6.jpg' %}" alt="image gallery">
              <a href="assets/img/gallery/gallery-img-2-6.jpg" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>
            <div class="image-gallery__col image-gallery__six wow animate__fadeInUp" data-wow-delay="0.45s">
                <img src="{% static 'assets/img/gallery/gallery-img-2-7.jpg' %}" alt="image gallery">
              <a href="assets/img/gallery/gallery-img-2-7.jpg" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>
            <div class="image-gallery__col image-gallery__seven wow animate__fadeInUp" data-wow-delay="0.65s">
                <img src="{% static 'assets/img/gallery/gallery-img-2-8.jpg' %}" alt="image gallery">
              <a href="assets/img/gallery/gallery-img-2-8.jpg" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>
            <div class="image-gallery__col image-gallery__eight wow animate__fadeInUp" data-wow-delay="0.85s">
                <img src="{% static 'assets/img/gallery/gallery-img-2-8.jpg' %}" alt="image gallery">
              <a href="assets/img/gallery/gallery-img-2-8.jpg" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>
         </div>
        <!-- Gallery Area End -->

{% endblock %}