{% extends 'base.html' %} {% load static %} {% block body %}
        <!-- Service Area  -->
         <section class="vs-service__layout1 space position-relative" data-bg-src="assets/img/bg/service-bg1.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="title-area text-center wow animate__fadeInUp title-anime animation-style5" data-wow-delay="0.25s">
                            <span class="sec-subtitle justify-content-center title-anime__title">{{ i.title }}</span>
                            <h2 class="sec-title title-anime__title text-white">{{ i.name|safe }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row vs-carousel" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-autoplay="true" data-arrows="false" data-dots="true">
                    <div class="col-lg-3 wow animate__fadeInUp" data-wow-delay="0.25s">
                        <div class="service-style2">
                            <div class="service-top">
                                <div class="service-img">
                                    <a href="service.html">
                                        <img class="img" src="assets/img/service/service-img-2-1.jpg" alt="Serevice Image">
                                    </a>
                                    <span class="shape-mockup" style="left: -17px; top: -10px;"><img src="assets/img/shapes/angle-left.png" alt="counter element"></span>
                                    <span class="shape-mockup" style="right: -17px; top: -10px;"><img src="assets/img/shapes/angle-right.png" alt="counter element"></span>
                                </div>
                                <div class="service-icon">
                                    <img class="icon" src="assets/img/icon/service-icon-2-1.svg" alt="Service Icon">
                                </div>
                            </div>
                            <div class="service-body">
                                <h2 class="vs-service__title h6"><a href="service.html">spring cleaning</a></h2>
                                <p class="vs-service__text">House Cleaners because start your home will soon</p>
                                <a href="#" class="icon-btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 wow animate__fadeInUp" data-wow-delay="0.35s">
                        <div class="service-style2">
                            <div class="service-top">
                                <div class="service-img">
                                    <a href="service.html">
                                        <img class="img" src="assets/img/service/service-img-2-2.jpg" alt="Serevice Image">
                                    </a>
                                    <span class="shape-mockup" style="left: -17px; top: -10px;"><img src="assets/img/shapes/angle-left.png" alt="counter element"></span>
                                    <span class="shape-mockup" style="right: -17px; top: -10px;"><img src="assets/img/shapes/angle-right.png" alt="counter element"></span>
                                </div>
                                <div class="service-icon">
                                    <img class="icon" src="assets/img/icon/service-icon-2-2.svg" alt="Service Icon">
                                </div>
                            </div>
                            <div class="service-body">
                                <h2 class="vs-service__title h6"><a href="service.html">Office cleaning</a></h2>
                                <p class="vs-service__text">Office Cleaners because start your home will soon</p>
                                <a href="#" class="icon-btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 wow animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="service-style2">
                            <div class="service-top">
                                <div class="service-img">
                                    <a href="service.html">
                                        <img class="img" src="assets/img/service/service-img-2-3.jpg" alt="Serevice Image">
                                    </a>
                                    <span class="shape-mockup" style="left: -17px; top: -10px;"><img src="assets/img/shapes/angle-left.png" alt="counter element"></span>
                                    <span class="shape-mockup" style="right: -17px; top: -10px;"><img src="assets/img/shapes/angle-right.png" alt="counter element"></span>
                                </div>
                                <div class="service-icon">
                                    <img class="icon" src="assets/img/icon/service-icon-2-3.svg" alt="Service Icon">
                                </div>
                            </div>
                            <div class="service-body">
                                <h2 class="vs-service__title h6"><a href="service.html">apartment cleaning</a></h2>
                                <p class="vs-service__text">Apartmenr Cleaners because your home will soon</p>
                                <a href="#" class="icon-btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 wow animate__fadeInUp" data-wow-delay="0.65s">
                        <div class="service-style2">
                            <div class="service-top">
                                <div class="service-img">
                                    <a href="service.html">
                                        <img class="img" src="assets/img/service/service-img-2-4.jpg" alt="Serevice Image">
                                    </a>
                                    <span class="shape-mockup" style="left: -17px; top: -10px;"><img src="assets/img/shapes/angle-left.png" alt="counter element"></span>
                                    <span class="shape-mockup" style="right: -17px; top: -10px;"><img src="assets/img/shapes/angle-right.png" alt="counter element"></span>
                                </div>
                                <div class="service-icon">
                                    <img class="icon" src="assets/img/icon/service-icon-2-4.svg" alt="Service Icon">
                                </div>
                            </div>
                            <div class="service-body">
                                <h2 class="vs-service__title h6"><a href="service.html">Medical Facilities</a></h2>
                                <p class="vs-service__text">House Cleaners because start your home will soon</p>
                                <a href="#" class="icon-btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 wow animate__fadeInUp" data-wow-delay="0.75s">
                        <div class="service-style2">
                            <div class="service-top">
                                <div class="service-img">
                                    <a href="service.html">
                                        <img class="img" src="assets/img/service/service-img-2-1.jpg" alt="Serevice Image">
                                    </a>
                                    <span class="shape-mockup" style="left: -17px; top: -10px;"><img src="assets/img/shapes/angle-left.png" alt="counter element"></span>
                                    <span class="shape-mockup" style="right: -17px; top: -10px;"><img src="assets/img/shapes/angle-right.png" alt="counter element"></span>
                                </div>
                                <div class="service-icon">
                                    <img class="icon" src="assets/img/icon/service-icon-2-1.svg" alt="Service Icon">
                                </div>
                            </div>
                            <div class="service-body">
                                <h2 class="vs-service__title h6"><a href="service.html">spring cleaning</a></h2>
                                <p class="vs-service__text">House Cleaners because start your home will soon</p>
                                <a href="#" class="icon-btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="shape-mockup d-xl-block d-none" style="right: 12%; top: 22%;"><img src="assets/img/shapes/service-shape-arraw.png" alt="service element"></span>
            <span class="shape-mockup custom-sheap wow animate__fadeInRight" data-wow-delay="0.90s" style="right: -40px; bottom: 40px;"><img src="assets/img/shapes/service-shape-man.png" alt="service element"></span>
         </section>
        <!-- Service Area End  -->

        <!-- Team Area  -->
<section class="vs-team__layout1 space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title-area text-center wow animate__fadeInUp title-anime animation-style5"
                    data-wow-delay="0.25s">
                    <span class="sec-subtitle justify-content-center title-anime__title">MEET OUR TEAM</span>
                    <h2 class="sec-title title-anime__title">We have a expert team</h2>
                </div>
            </div>
        </div>
        <div class="row vs-carousel" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3"
            data-md-slide-show="2" data-sm-slide-show="2" data-autoplay="true" data-arrows="true">
            <div class="col-xl-3 wow animate__fadeInUp" data-wow-delay="0.25s">
                <div class="vs-team__style1">
                    <div class="vs-team__img">
                        <a href="team.html">
                            <img src="{% static 'assets/img/team/team-img-1-1.png' %}" alt="Team Image">
                        </a>
                        <div class="vs-team__social--media">
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="vs-team__content">
                        <h2 class="vs-team__title"><a href="team.html">erica hanson</a></h2>
                        <p class="vs-team__subtitle">Supervisor</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 wow animate__fadeInUp" data-wow-delay="0.35s">
                <div class="vs-team__style1">
                    <div class="vs-team__img">
                        <a href="team.html">
                            <img src="{% static 'assets/img/team/team-img-1-2.png' %}" alt="Team Image">
                        </a>
                        <div class="vs-team__social--media">
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="vs-team__content">
                        <h2 class="vs-team__title"><a href="team.html">Alexandra Dario</a></h2>
                        <p class="vs-team__subtitle">founder, CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 wow animate__fadeInUp" data-wow-delay="0.45s">
                <div class="vs-team__style1">
                    <div class="vs-team__img">
                        <a href="team.html">
                            <img src="{% static 'assets/img/team/team-img-1-3.png' %}" alt="Team Image">
                        </a>
                        <div class="vs-team__social--media">
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="vs-team__content">
                        <h2 class="vs-team__title"><a href="team.html">emely jonson</a></h2>
                        <p class="vs-team__subtitle">office cleaner</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 wow animate__fadeInUp" data-wow-delay="0.55s">
                <div class="vs-team__style1">
                    <div class="vs-team__img">
                        <a href="team.html">
                            <img src="{% static 'assets/img/team/team-img-1-4.png' %}" alt="Team Image">
                        </a>
                        <div class="vs-team__social--media">
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="vs-team__content">
                        <h2 class="vs-team__title"><a href="team.html">Tonoy Rahomon</a></h2>
                        <p class="vs-team__subtitle">Supervisor</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 wow animate__fadeInUp" data-wow-delay="0.65s">
                <div class="vs-team__style1">
                    <div class="vs-team__img">
                        <a href="team.html">
                            <img src="{% static 'assets/img/team/team-img-1-5.png' %}" alt="Team Image">
                        </a>
                        <div class="vs-team__social--media">
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="vs-team__content">
                        <h2 class="vs-team__title"><a href="team.html">Rivan islam</a></h2>
                        <p class="vs-team__subtitle">Supervisor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="shape-mockup" style="right: 0; top: 0px;"><img src="{% static 'assets/img/shapes/service-shape-1.png' %}"
            alt="team element"></span>
    <span class="shape-mockup z-index-n1" style="left: 0; bottom: 0px;"><img src="{% static 'assets/img/shapes/team-shep1.png' %}"
            alt="team element"></span>
</section>
<!-- Team Area End  -->


{% endblock %}
